body {
    background: #86bcff;
}
.form {
    font-family: Arial;
    margin: 50px auto;
    width: 500px;
    padding: 30px 25px;
    background: #dfebfa;
    width: calc(100%-30px);
}
.form1 {
    font-family: Arial;
    margin: 50px auto;
    width: 500px;
    height:400px;
    overflow-y:auto;
    padding: 30px 25px;
    background: #dfebfa;
}
h1.login-title {
    color: #666;
    margin: 0px auto 25px;
    font-size: 25px;
    font-weight: 300;
    text-align: center;
}
.login-input {
    font-size: 15px;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 25px;
    height: 25px;
    width: calc(100% - 23px);
}
.login-input:focus {
    border-color:#6e8095;
    outline: none;
}
.login-button {
    color: #fff;
    background: #55a1ff;
    border: 0;
    outline: 0;
    width: 100%;
    height: 50px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
}
.login-button:hover{
    background: #6fafff;
    }
.link {
    color: #666;
    font-size: 15px;
    text-align: center;
    margin-bottom: 0px;
}
.link a {
    color: #55a1ff;
}
.text{
    color: grey;
    font-size: 25px;
}
.subtext{
    color: grey;
    font-size: 25px;
    text-align: center;
    margin-top: -15px;
}
.header{
    text-align: center;
}
.column{
    float: left;
    width: 50%;
}
.row:after{
    content: "";
    display: table;
    clear: both;
}
.select{
    width: 250px;
    }
.textarea{
    margin-bottom: 50px;
    width: 250px;
}
h3 {
    font-weight: normal;
    text-align: center;
}
.homebutton{
    background: #4267B2;
    font-size: 20px;
    font-family: Verdana;
    border-radius: 15px;
    border:5px #2D477A;
    cursor:pointer;
    padding:23px 30px;
    color: white;
    margin-bottom: 30px;
    opacity: 0.6;
    transition: 0.3s;
}
.homebutton:hover{
    opacity:1
}
.header{
    font-size:35px;
    text-align: center;
    color: white;
    font-weight: bold;
    font-family:Arial;
}
.subheader{
    text-align: center;
    font-size:30px;
    color: white;
    font-family:Arial;
    margin-top:-35px;
}
.buttongroup{
    text-align: center;
}
.xlarge{
    width: 200px;
    height: 50px;

}
.rateBody {
    flex-direction: column;
    display: flex;
    justify-content: center;
}
.buttonDiv {
    display: flex;
    justify-content: center;
}
.home-button {
    color: #fff;
    background: #101b29;
    border-radius: 8px;
    border: 0;
    outline: 0;
    width: 70px;
    height: 40px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    margin-right: 5px;
    text-decoration: none;
}
.home-button:hover{
    background: #9ca2aa;
    }
.findBuddyDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10%;
    width: 100%;
}
.findBuddyMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}
.subtextfindBuddy{
    color: rgb(53, 53, 53);
    font-size: 35px;
    text-align: center;
    margin-top: 10px;
}
.buddyResult {
    background-color: white;
    overflow-y:auto;
    max-height: 800px;
}

.buttonDiv2{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.findAdvisorDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10%;
    width: 100%;
}
.findAdvisorMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}
.subtextfindAdvisor{
    color: rgb(53, 53, 53);
    font-size: 35px;
    text-align: center;
    margin-top: 10px;
}
.advisorResult {
    background-color: white;
    overflow-y:auto;
    max-height: 800px;
}
.headerRate{
    text-align: center;
    color: rgb(75, 77, 84);
}
.homeA{
    text-decoration: none;
    margin-left: 15px;
    margin-right: 15px;
}
.table{
    background: white;
}
.connectP{
    font-size: 20px;
}
